<!doctype html>
{% load static %}
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>киокушинкай каратэ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'karate/css/style.css' %}" />
</head>
<body>
	<header>
		<div class="h">
	<img src="https://sites.google.com/site/sevkarate/_/rsrc/1431635103468/o-stile-kiokusinkaj-karate/200px-Kyokushinkai.svg.png" class="logo">

	<div class="fon">
				<h1>Киокушинкай каратэ</h1>
		<h4>Техника, система поясов и многое другое</h4>
	</div>

	<nav id="menu">
		</div>
	<hr style="margin-top: 10px;">
	<nav id="menu">
	    <span class="menu"> <a style='color:black' href="{% url 'home' %}" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color = 'black'">на главную</a></span>
		<span class="menu"><a style='color:black' href="{% url 'belt' %}" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color = 'black'">система поясов</a></span>
		<span class="menu"> <a style='color:black' href="{% url 'exam' %}" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color = 'black'">нормативы для экзаменов</a></span>
		<span class="menu"> <a style='color:black' href="{% url 'power'%}" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color = 'black'">проверка силы</a></span>
		<span class="menu"><a style='color:black' href="{% url 'dictionary'%}" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color = 'black'">словарь каратэ</a></span>
	</nav>
</header>

		<div class='text' style="font-size:larger;">
		   <h2 style='text-align:center'>Что за киокушинкай?</h2>
		    <p>Кёку́синкай (яп. 極真会, «общество высшей истины»), также киокусинкай, киокушинкай или кёку́син (яп. 極真, «высшая истина»), — стиль карате, основанный Масутацу Оямой в 1950-х годах. Кёкусинкай считается одной из самых трудных и жёстких разновидностей карате.</p>
		    <p>Как правило, кандзи «Кёкусинкай» изображаются в каллиграфическом исполнении. Слово «Кёкусинкай» состоит из трёх иероглифов:</p>
		    <ul>
		        <li>кёку (яп. 極, предел, полюс)</li>
		        <li>син (яп. 真, правда, действительность, реальность, истина)</li>
		        <li>кай (яп. 会, организация, общество, союз).</li>
		  </ul>

    <p>Стиль Кёкусинкай был создан в противовес множеству бесконтактных школ и самому принципу «карате без контакта». Демонстрируя миру мощь реального карате, Кёкусинкай постепенно завоевал популярность во многих странах, а позже лёг в основу ряда других контактных стилей карате.</p>

    <p>Для основателя Кёкусинкай Масутацу Оямы смысл всей его подвижнической жизни заключался в возрождении карате как воинского искусства. Провозглашая идеал будо-карате, Ояма решительно отделял всю систему воинского воспитания и практики от спорта, следуя воинской традиции Востока и духу бусидо. Однако возрождение карате как будо (военного дела) сочеталось с массовой его пропагандой как «карате для миллионов», в том числе далеко за пределами Японии.</p>

    <p>«Сильнейшее карате» продемонстрировало свою реальную мощь прежде всего на спортивных татами, а чемпионаты мира по Кёкусинкай претендовали на статус «Олимпийских игр в карате». Развитие стиля Кёкусинкай во многих странах оказалось связано со спортивными организациями и олимпийским движением, спортивными единоборствами и далёкими от воспитания воинов методиками спортивной подготовки.</p>

<p>За полвека существования карате Кёкусинкай оно прочно утвердилось среди спортивных единоборств, закономерно изменив и целеполагание, и ориентацию, и систему подготовки бойцов. Следствием этих изменений явились стремительное развитие этого вида спорта и впечатляющие спортивные достижения.</p>

<p>Карате Кёкусинкай — чрезвычайно зрелищный вид спорта. Спортивные поединки (кумитэ) проводятся в полный контакт без защитного снаряжения (шлемов, перчаток, протекторов). Единственное ограничение — запрет ударов в голову руками. Полноконтактные бои, насыщенные высокими ударами ногами и мощными ударами руками, неизменно привлекают на соревнования по карате Кёкусинкай большое число зрителей.</p>

<h2 style='text-align:center'>Немного о поясах</h2>
<p>Система цветности ученических поясов (кю) значительно отличается от системы цветности поясов в других боевых искусствах и имеет более глубокое значение, чем простой переход от светлого цвета к более тёмному при увеличении степени.</p>
<h3>Сроки сдачи:</h3>
<h4>Учениеческие степени:</h4>
<ul>
    <li>10-5 КЮ — два раза в год.</li>
    <li>4-1 КЮ — тестирование один раз в год.</li>
</ul>
<h4>Мастерские степени:</h4>
<ul>
    <li>1 дан — Срок активных занятий от предыдущей степени не менее 2 лет</li>
    <li>2 дан — Срок тренировочных занятий не менее 3-х лет от предыдущей степени</li>
    <li>3 дан — Срок не менее 4-х лет от предыдущей степени</li>
    <li>4 дан — Срок не менее 5 лет от предыдущей степени</li>
    <li>5 дан и выше — сроком не регламентируется.</li>
</ul>

		</div>
</body>
</html>